.card-pokemon {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  background-color: #fafafa;
}

.badge-tipo {
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
}

.tipo-fire { background-color: #fda8d2; }
.tipo-water { background-color: #fda8d2; }
.tipo-grass { background-color: #fda8d2; }

.btn-guardar {
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}