<main class="form-wrapper">

    <header class="form-header">
      <h1> Formulario de Registro</h1>
      <p>Por favor completa todos los campos</p>
    </header>
    

    <div class="form-body">
      <form id='formularioregistro' (ngSubmit)="guardarUsuario()" >

        <!-- Nombre y Apellido -->
        <div class="form-row">
          <div class="form-group">
            <label for="nombre">Nombre</label>  
            <div class="input-icon">
              <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Ej: María" autocomplete="given-name">
            </div>
          </div>

          <div class="form-group">
            <label for="apellido">Apellido</label>
            <div class="input-icon">
             <input type="text" id="apellido" [(ngModel)]= "apellido" name="apellido" placeholder="Ej: Gómez" autocomplete="family-name">
            </div>
          </div>
        </div>

        <!-- Tipo y número de documento -->
        <div class="form-row">
          <div class="form-group">
            <label for="tipo-documento">Tipo de documento</label>
            <div class="input-icon">
              <select id="tipo_documento" [(ngModel)]="tipo_documento" name="tipo-documento">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>
                <option value="Cedula de Extranjeria">Cédula de Extranjería</option>
                <option value="Pasaporte">Pasaporte</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="documento">Número de documento</label>
            <div class="input-icon">
              <div class="documento-field">
                <input type="text" id="documento"  [(ngModel)]="cc" name="documento" placeholder="Ej: 1234567890" required>
              </div>
            </div>
          </div>
        </div>

        <!-- Fecha de nacimiento y correo -->
        <div class="form-row">
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <div class="input-icon">
              <input type="date" id="fecha_nacimiento" [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" autocomplete="bday">
            </div>
          </div>

          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <div class="input-icon">
              <input type="email" id="correo" [(ngModel)]="correo" name="correo" placeholder="Ej: nombre@correo.com" autocomplete="email">
            </div>
          </div>
        </div>

        <!-- País y ciudad -->
        <div class="form-row">
          <div class="form-group">
            <label for="pais">País de domicilio</label>
            <div class="input-icon">
              <select id="pais" [(ngModel)]="pais" name="pais">
                <option value="" disabled>Selecciona un país</option>
                <option value="169" selected>Colombia</option>
                <option value="063">Argentina</option>
                <option value="245">España</option>
                <option value="105">Brasil</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="ciudad-placeholder">Ciudad de domicilio<span class="required-mark">*</span></label>
            <div class="input-icon">
              <div class="ciudad-field">
                <select id="ciudad" [(ngModel)]="ciudad" name="ciudad" required>
                  <option value="" disabled selected>Selecciona una ciudad</option>
                  <option value="11001">Bogotá</option>
                  <option value="05001">Medellín</option>
                  <option value="76001">Cali</option>
                  <option value="08001">Barranquilla</option>
                  <option value="13001">Cartagena</option>
                  <option value="CABA/2000">Buenos Aires</option>
                  <option value="X5000">Córdoba</option>
                  <option value="S2000">Rosario</option>
                  <option value="M5500">Mendoza</option>
                  <option value="B1900">La Plata</option>
                  <option value="28079">Madrid</option>
                  <option value="08019">Barcelona</option>
                  <option value="46250">Valencia</option>
                  <option value="41091">Sevilla</option>
                  <option value="48020">Bilbao</option>
                  <option value="3550308">São Paulo</option>
                  <option value="3304557">Río de Janeiro</option>
                  <option value="5300108">Brasilia</option>
                  <option value="2304400">Fortaleza</option>
                  <option value="2927408">Salvador de Bahía</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="form-group">
          <label for="telefono">Número de teléfono</label>
          <div class="input-icon">
            <input
              type="tel" id="telefono"[(ngModel)]="telefono" name="telefono" placeholder="Ej: 3001234567" autocomplete="tel">
          </div>
        </div>

        <!-- Tratamiento de datos -->
        <div class="checkbox-group">
          <input
            type="checkbox" id="tratamiento_datos" [(ngModel)]="tratamiento_datos" name="tratamiento-datos"required>
          <label for="tratamiento_datos">
            Autorizo el tratamiento de mis datos personales de acuerdo con la política de privacidad.
          </label>
        </div>

        <!-- Botones -->
        <div class="form-actions">
          <button type="submit" class="btn-submit">Enviar</button>
        </div>

 </form>
    </div>     
   @if (ultimoUsuario(); as user) {
    <div class="user-info">
      <h3>Usuario Registrado</h3>
      <p><strong>ID generado:</strong> {{ user.id }}</p>
      <p><strong>Nombre Completo:</strong> {{ user.nombre }}</p>
      <p><strong>Documento:</strong> {{ user.documento.tipo }} {{ user.documento.numero }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ user.fecha_nacimiento }}</p>
      <p><strong>Correo:</strong> {{ user.correo_electronico }}</p>
    </div>
  }

  </main>   
      
    